### Tasks that need doing

Remove alcoholic recipes <font color='red'>DONE</font> <br>
Develop alcohol 'stop words' <font color='red'>DONE</font><br>
Develop food intolerance 'stop words'<font color='red'>DONE</font> <br>
Remove strange characters from all fields / check formatting <font color='red'>DONE</font> <br>
Check for nulls / black rows <font color='red'>DONE</font><br>
Add a count column <font color='red'>DONE</font><br>
Remove ingredients column (Use cleaned_ingredients)<font color='red'>DONE</font> <br>
Convert Fahrenheit to celcius (Regex)<font color='red'> SUSPENDED</font> <br>
Rename Columns <font color='red'>DONE</font> <br>
Export to CSV <font color='red'>DONE</font> <br>

### Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
alcohol = "(?i)vodka|kahlúa|kahlua|tequila|\srum|(\sgin\.|\sgin\s|\sgin)|whiskey|pimm's|malibu|baileys|jägermeister|jagermeister|bacardi|spirit|mezcal|bourbon|scotch|cognac|vermouth|liqueur|schnapps|brandy|camparinha|absinthe|shochu|makgeolli|baijiu|soju|cocktail|aperol|applejack|campari|cynar|prosecco|giffard|champagne|aquavit|angostura|pisco|cachaca|cachaça|sparkling wine"
coffee = "(?i)coffee|espresso|expresso"

egg = ['egg', 'mayonnaise', 'meringue', 'flavoprotein', 'hollandaise', 'custard', 'surimi', 'nougat' 'puddings', 'marshmallow', 'marzipan']
soy = ['soy', 'peanut', 'cereal', 'sausage', 'natto', 'miso', 'tofu', 'bean curd', 'edamame', 'shoyo', 'tamari', 'vegetable gum']
dairy = ['milk', 'cheese', 'yoghurt', 'butter', 'custard', 'ghee', 'galactose', 'cream', 'curd', 'caramel', 'lactate', 'lactulose', 'pudding', 'nougat']
gluten = ['wheat', 'rye', 'barley', 'triticale', 'bread', 'pitta', 'bagel', 'flatbread', 'crouton', 'malt', 'yeast', 'fries', 'potato', 'soy', 'gravy', 'tortilla', 'cereal', 'granola', 'oats', 'spelt', 'noodle', 'durum', 'panko']
fructose = ['fruit', 'apple', 'grapes', 'guava', 'mango', 'pear', 'raisin', 'kiwi', 'apricot', 'nectarine', 'papaya', 'raspberry', 'pineapple', 'artichoke', 'bean', 'broccoli', 'cabbage', 'pepper', 'leek', 'onion', 'shallots', 'shiitake', 'shitake', 'tomato', 'beetroot', 'broccoli', 'carrot', 'chickpea', 'eggplant', 'lentil', 'mung', 'sauerkraut', 'sweet potato', 'rye', 'wheat', 'peanut', 'cashew', 'almond', 'hazelnut', 'pecan', 'yoghurt', 'chutney', 'mustard', 'fructose', 'vineger', 'tiramisu', 'fruitcake', 'lasagne', 'pizza', 'pretzel', 'licorice', 'marshmallow', 'garlic', 'chilli', 'sucrose', 'molasses', 'teriyaki', 'guacamole']
salicylate = ['apricot', 'cherry', 'cranberry', 'date', 'grapes', 'grapefruit', 'guava', 'orange', 'raspberry', 'redcurrent', 'strawberry', 'tangelo', 'apple', 'avocado', 'lychee', 'nectarine', 'passionfruit', 'peach', 'watermelon', 'fruit', 'broccoli', 'cauliflower', 'champignon', 'eggplant', 'gherkin', 'mushroom', 'olive', 'spinach', 'tomato', 'artichoke', 'corn', 'chilli', 'cucumber', 'radish', 'zucchini', 'almond', 'cheese', 'honey', 'liquorice', 'aniseed', 'cayenne', 'cinamon', 'ginger', 'coriander', 'curry', 'dill', 'miso', 'soy', 'anchovies', 'salami', 'chorizo', 'cabanna', 'cheese', 'mustard', 'oregano', 'rosemary']
histamine = ['mushroom', 'cheese', 'tofu', 'soy', 'yeast', 'chocolate', 'smoke', 'salami', 'chorizo', 'ham', 'vinegar', 'crab', 'lobster', 'prawn', 'shellfish', 'cocoa', 'bean', 'pulse', 'papaya', 'wheat', 'kiwi', 'lemon', 'lime', 'pineapple', 'plum', 'spinach', 'sauerkraut', 'corn', 'grapefuit', 'banana', 'spelt', 'kamut', 'rye', 'oats', 'kefir', 'yoghurt', 'walnut', 'pistachio', 'almond', 'chickpea', 'aniseed', 'licorice', 'tomato', 'miso', 'pickles']
FODMAPs = ['onion', 'apple', 'cheese', 'honey', 'milk', 'yoghurt', 'artichoke', 'bread', 'bean', 'lentils', 'chickpea', 'wheat', 'garlic', 'barley', 'lentil', 'rye', 'leek', 'pea', 'cashew', 'asparagus', 'beetroot', 'cauliflower', 'falafel', 'cabbage', 'mung', 'shallots', 'taro', 'cassava', 'celery', 'apricot', 'avocado', 'blackberry', 'boysenberry', 'boysenberries', 'cherry', 'cherries', 'dates', 'figs', 'goji', 'lychee', 'pear', 'peach', 'mango', 'persimmon', 'prunes', 'sultana', 'sausage', 'cake', 'croissant', 'muffin', 'udon', 'pasta', 'cream', 'custard', 'kefir']

### Source:

FODMAPS <br>
https://www.ibsdiets.org/fodmap-diet/fodmap-food-list/
<br><br>

Histamine <br>
https://www.connersclinic.com/high-histamine-foods-list/ <br>
https://naturdao.com/en/food-list-with-histamine/
<br><br>

Salicylate <br>
https://allergyfield.com/Salicylates_in_Food.pdf
<br><br>

Fructose <br>
https://www.fructohelp.com/wp-content/uploads/2018/01/Nutrition-Guide-Summary-www.fructohelp.com_.png
<br><br>

Gluten <br>
https://www.medicalnewstoday.com/articles/gluten-foods#how-much-is-safe
<br><br>

Dairy <br>
https://www.livingbeyondallergies.com/dairy-allergy-what-to-eat-and-what-to-avoid/
<br><br>

Egg <br>
https://th.bing.com/th/id/R.8b2edc33a95adf3d709a0a033195d8f2?rik=vnLISP4uINpLtA&riu=http%3a%2f%2fhhma.org%2fwp-content%2fuploads%2f2017%2f02%2feggaller.jpg&ehk=NJcv6%2fBk7MJHfPNhOyqShJefF3hbQan1oaH3i1rzr5k%3d&risl=&pid=ImgRaw&r=0
<br><br>

### Read csv

In [3]:
recipes_df = pd.read_csv('recipe_datasets/recipe_data_csv.csv', index_col=None)
recipes_df.head(2)

recipes_df.dtypes

Unnamed: 0              int64
Title                  object
Ingredients            object
Instructions           object
Image_Name             object
Cleaned_Ingredients    object
dtype: object

### Removal of Recipes which contain Alcohol

In [4]:
recipes_df = recipes_df[~recipes_df['Ingredients'].str.contains(alcohol)]
recipes_df = recipes_df[~recipes_df['Ingredients'].str.contains(coffee)]

<ipython-input-4-7a8354669055>:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  recipes_df = recipes_df[~recipes_df['Ingredients'].str.contains(alcohol)]

### Testing Regex

In [5]:
recipes_df[recipes_df['Ingredients'].str.contains('almond')]

,Unnamed: 0,Title,Ingredients,Instructions,Image_Name,Cleaned_Ingredients
21,21,Maple and Chile Roasted Squash With Quinoa Tab...,['1 (2kg or 4 lb or 4 oz) butternut squash or ...,Preheat oven to 220°C (425°F).\nScoop the seed...,maple-chile-roasted-pumpkin-with-quinoa-tabouli,['1 (2kg or 4 lb or 4 oz) butternut squash or ...
22,22,Chhena Poda (Spiced Cheesecake),"['Ghee, for the cake pan', '8 ounces paneer, p...",Preheat the oven to 350°F. Butter a 9-inch non...,chhena-poda-paneer-cheesecake,"['Ghee, for the cake pan', '8 ounces paneer, p..."
58,58,Spiced Lamb and Dill Yogurt Pasta,"['3 large egg yolks', '2 cups kefir (cultured ...","Combine egg yolks, kefir, and 1½ cups dill in ...",spiced-lamb-and-dill-yogurt-pasta,"['3 large egg yolks', '2 cups kefir (cultured ..."
62,62,Nut Butter Granola Bars,"['2 cups raw nuts (such as almonds, walnuts, p...",Preheat oven to 350°F. Toast nuts pumpkin seed...,nut-butter-granola-bars,"['2 cups raw nuts (such as almonds, walnuts, p..."
78,78,Fresh Fruit Tart With Almond Press-In Crust,"['2 large egg yolks', '1 cup all-purpose flour...",Place a rack in the middle of oven; preheat to...,fresh-fruit-berry-tart-with-almond-press-in-crust,"['2 large egg yolks', '1 cup all-purpose flour..."
...,...,...,...,...,...,...
13329,13329,Pistachio Blancmanges,['1 1/2 cups shelled unsalted pistachios (not ...,Put oven rack in middle position and preheat t...,pistachio-blancmanges-108527,['1 1/2 cups shelled unsalted pistachios (not ...
13336,13336,Pistachio Ice Cream,"['1 cup unsalted shelled pistachios', '3/4 cup...",Finely grind 1 cup pistachios and 1/4 cup suga...,pistachio-ice-cream-5902,"['1 cup unsalted shelled pistachios', '3/4 cup..."
13386,13386,Green Olive and Almond Tapenade,['1 1/2 cups brine-cured green olives (10-ounc...,"Blend olives, parsley, almonds, and lemon juic...",green-olive-and-almond-tapenade-103176,['1 1/2 cups brine-cured green olives (10-ounc...
13426,13426,"Mole Cake with Cherry-Almond Ice Cream, Tamari...","['4 ounces cherries, pitted', '1 cup dry sherr...",Preheat the oven to 300°F.\nTo prepare the ice...,mole-cake-with-cherry-almond-ice-cream-tamarin...,"['4 ounces cherries, pitted', '1 cup dry sherr..."
13489,13489,Raspberry Jam Tart with Almond Crumble,"['2 cups sliced natural almonds', '2/3 cup sug...",Preheat oven to 400°F.\nReserve 1/4 cup almond...,raspberry-jam-tart-with-almond-crumble-104443,"['2 cups sliced natural almonds', '2/3 cup sug..."

### Adding 'Count' Column

In [6]:
recipes_df_new = recipes_df.assign(Count=0)

recipes_df_new.head(2)

,Unnamed: 0,Title,Ingredients,Instructions,Image_Name,Cleaned_Ingredients,Count
0,0,Miso-Butter Roast Chicken With Acorn Squash Pa...,"['1 (3½–4-lb.) whole chicken', '2¾ tsp. kosher...","Pat chicken dry with paper towels, season all ...",miso-butter-roast-chicken-acorn-squash-panzanella,"['1 (3½–4-lb.) whole chicken', '2¾ tsp. kosher...",0
1,1,Crispy Salt and Pepper Potatoes,"['2 large egg whites', '1 pound new potatoes (...",Preheat oven to 400°F and line a rimmed baking...,crispy-salt-and-pepper-potatoes-dan-kluger,"['2 large egg whites', '1 pound new potatoes (...",0

### Drop Ingredients Column

In [7]:
recipes_df_new.drop(['Ingredients', 'Unnamed: 0'], axis=1, inplace=True)
recipes_df_new['Recipe_Index'] = range(0, len(recipes_df_new))

recipes_df_new.head(2)

,Title,Instructions,Image_Name,Cleaned_Ingredients,Count,Recipe_Index
0,Miso-Butter Roast Chicken With Acorn Squash Pa...,"Pat chicken dry with paper towels, season all ...",miso-butter-roast-chicken-acorn-squash-panzanella,"['1 (3½–4-lb.) whole chicken', '2¾ tsp. kosher...",0,0
1,Crispy Salt and Pepper Potatoes,Preheat oven to 400°F and line a rimmed baking...,crispy-salt-and-pepper-potatoes-dan-kluger,"['2 large egg whites', '1 pound new potatoes (...",0,1

### Rename Index Column

In [8]:
recipes_df_new = recipes_df_new.rename(columns={'Cleaned_Ingredients': 'Ingredients'})

recipes_df_new.head(2)

,Title,Instructions,Image_Name,Ingredients,Count,Recipe_Index
0,Miso-Butter Roast Chicken With Acorn Squash Pa...,"Pat chicken dry with paper towels, season all ...",miso-butter-roast-chicken-acorn-squash-panzanella,"['1 (3½–4-lb.) whole chicken', '2¾ tsp. kosher...",0,0
1,Crispy Salt and Pepper Potatoes,Preheat oven to 400°F and line a rimmed baking...,crispy-salt-and-pepper-potatoes-dan-kluger,"['2 large egg whites', '1 pound new potatoes (...",0,1

### Rearrange Cols

In [9]:
recipes_df_new = recipes_df_new[['Recipe_Index', 'Title', 'Ingredients', 'Instructions', 'Count', 'Image_Name']]

### Export into new CSV

In [10]:
recipes_df_new.to_csv('recipe_data_new.csv', sep=',', index=False)